.div-left {
	position: relative;
	float: left;
	width: 50%;
	margin: 1;
}

.div-right {
	position: relative;
	float: right;
	width: 50%;
	margin: 0;
}

#poetry {
	width: 80%;
	height: 400px;
}

.poem_word {
	color: cyan;
}

body {
	background-color: black;
	font-size: 16pt;
	font-family: 'Special Elite', helvetica, sans;
}
